@model List<Movie>

    <h1>Film Lİstesi</h1>
    <div id="filmler">

        @foreach (var movie in Model)
        {
            <div class="film">
                <img src="/img/@movie.ImageUrl" alt="@movie.Title"/>
                <p>@movie.Title</p>
                <p>@movie.Description</p>
                <p>@movie.Director</p>
                <p>
                    <ul>
                        @foreach (var player in @movie.Players)
                        {
                            <li>@player</li>
                        }
                    </ul>
                </p>
            </div>

        }
    </div>

    @section menu
    {
        @await Html.PartialAsync("_menu")
    }